/* Body Background */
body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: backgroundAnimation 20s infinite alternate;
    background: linear-gradient(to bottom, #0a0c10, #1f2937);
    color: #fff;
}


@keyframes backgroundAnimation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
}





/* Navigation bar */
nav {
    background-color: #3a2c6b;
    color: #fff;
  }
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
  
  nav ul li {
    padding: 10px;
}
  
nav ul li a {
    text-decoration: none;
    color: #fff;
}
  
h1 {
    text-align: center;
    margin-top: 50px;
    color: blue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

  
p {
    margin: 20px;
    color: #fff;
}
  
  /* Image Gallery */
.image-container {
    display: flex;
    justify-content: center;
}
  


h2 {
    text-align: center;
    margin: 20px;
}

.image-container img {
    margin: 10px;
    max-width: 300px;
    height: auto;
}

/* Image Gallery */
.image-container {
  display: flex;
  justify-content: center;
}

li:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    color: aliceblue;
    font-size: 1.5rem;
}

  
  /* Social Media Handles */
.social-media {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
  
.social-media li {
    margin: 10px;
}
  
.social-media img {
    max-width: 30px;
    height: auto;
}
  
  /* Embedded Form */
.form-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}
  
iframe {
    border: none;
    width: 600px;
    height: 400px;
}
  
 Additional Information
section:last-of-type {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-top: 20px;
    color: #fff;
  }
section:last-of-type {
    background-color: #1f2937;
    padding: 20px;
    margin-top: 20px;
}
  


footer {
    background-color: #0a0c10;
    color: #fff;
    text-align: center;
    padding: 10px;
  }